.App {
  text-align: center;
  display: grid;
}

.App-header {
  background-color: #222;
  text-align: center;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding: -20px;
}

.App-intro {
  font-size: large;
}

.App-article-row {
  padding: 20px;
  width: 100%;
}

.container-fluid {
  height: 100%;
  padding-left: 10px;
}

.News-article-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}